@media screen and (max-width: 600px) {
    .eventDayClicked {
        background-color: var(--default-yellow);
    }
    
    .events {
        > h1 {
            text-align: center;
            margin: 2.5vw 0;
        }
    
        > .events__dayPicker {
            display: grid;
            grid-auto-flow: column;
            justify-items: center;
            /* margin: 0 5vw; */
            background-color: var(--dark-gray);
            /* height: 5vh; */
    
            > div {
                width: 100%;
                /* color: white; */
                > h2 {
                    font-size: 1rem;
                    color: white;
                    text-align: center;
                }
            }
        }
        > .events__dayPicker:hover {
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 800px) {
    .eventDayClicked {
        background-color: var(--default-yellow);
    }
    
    .events {
        > h1 {
            text-align: center;
            margin: 2.5vw 0;
        }
    
        > .events__dayPicker {
            display: grid;
            grid-auto-flow: column;
            justify-items: center;
            margin: 0 10vw;
            background-color: var(--dark-gray);
            /* height: 5vh; */
    
            > div {
                width: 100%;
                /* color: white; */
                > h2 {
                    font-size: 2rem;
                    color: white;
                    text-align: center;
                }
            }
        }
        > .events__dayPicker:hover {
            cursor: pointer;
        }
    }
}

